html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
}
body {
  margin: 0;
  overscroll-behavior: contain;
  background-color: rgb(45, 38, 72);
}

* {
  box-sizing: border-box;
}
